{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Create new account</h1>
            <div class="col-lg-6">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                <br>
                <input type="submit" value="Create" class="btn btn-success">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}